@model List<AddOrRemoveUsersinRoleVM>

<h1>Add or Remove Users in this role</h1>
@{
    var RoleId = Context.Request.Query["roleId"];
}

<form asp-route-roleId="@RoleId" method="post" asp-action="AddOrRemoveUsersInRole">



    @*foreach (var user in Model)
        {
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="@user.IsSelected">
                <label class="form-check-label" asp-for="@user.IsSelected">
                    @user.UserName
                </label>
            </div>
        }*@

    @for (int i = 0; i < Model.Count; i++)
    {
        <input type="hidden" asp-for="@Model[i].UserId" />
        <input type="hidden" asp-for="@Model[i].UserName" />
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="@Model[i].IsSelected">
            <label class="form-check-label" asp-for="@Model[i].IsSelected">
                @Model[i].UserName
            </label>
        </div>
    }
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
        <br />
        <a asp-action="EditRole" class="btn btn-danger">Cancel</a>
    </div>





</form>    