@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "All Users";
}
<h1>All Users</h1>
<div class="form-group">

    <a asp-controller="Account" asp-action="Register" class="btn btn-primary">Add New User</a>

</div>
<br />
@if (Model.Any())
{
    @foreach (var user in Model)
    {
        <div class="card">
            <div class="card-header">
                @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-body">@user.UserName</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="Administration"  asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                    <span style="display:none" id="confirmSpan_@user.Id">
                        <span>
                            Are you sure you want to delete?
                        </span>
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <a class="btn btn-primary" onclick="confirmDelete('@user.Id',false)">No</a>
                    </span>
                    <span id="deleteSpan_@user.Id">
                        <a class="btn btn-danger" onclick="confirmDelete('@user.Id',true)">Delete</a>
                    </span>
                   
                </form>
            </div>

        </div>
    }
}
else
{
    <div class="card">

        <div class="card-body">
            <h5 class="card-title">No User Created </h5>

        </div>
    </div>
}

@section Scripts
{
    <script src="~/js/CustomScript.js"></script>
}