@model HomeDetailsVM

@{ 
    string staticpath = "~/Images/employee.png";
    string photopath = "~/Images/" + Model.Employee.PhotoPath;
    string path = Model.Employee.PhotoPath != null ? photopath : staticpath;
}

<div class="row justify-content-center">
    <div class="card" style="width: 50rem;">
        <div class="card-header">
            
                <h1>@Model.Employee.Name</h1>
           
        </div>
       
        <div class="card-body text-center">
            <img src="@path" class="card-img-top image" asp-append-version="true" />
            <h4>Empoyee ID: @Model.Employee.Id</h4>
            <h4>Email: @Model.Employee.Email</h4>
            <h4>Department: @Model.Employee.Department</h4>

        </div>
        <div class="card-footer">
            <a asp-controller="home" asp-action="Index" class="btn btn-primary">Back</a>
            <a asp-controller="home" asp-action="edit" asp-route-id="@Model.Employee.Id" class="btn btn-primary">Edit</a>
            <a asp-controller="home" asp-action="details"  class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>




